.slider {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Максимальная ширина слайдера */
  margin: 20px auto;
  overflow: hidden; /* Обрезаем изображения, если они выходят за пределы контейнера */
}

.slider-images {
  display: flex;
  transition: transform 0.5s  ;
}

.slider img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  background-color: rgba(0, 0, 0, 0.3); /* Прозрачный фон */
  color: white;
  font-size: 24px;
  border: 2px solid transparent; /* Прозрачная граница для плавного изменения */
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 5%;
}

.prev:hover, .next:hover {
  color: black; /* Красный цвет стрелки при наведении */
}

/* Позиция кнопок */
.prev {
  margin-left: 20px;
}

.next {
  margin-right: 20px;
}
