
html{
    font-family: Proxima, sans-serif;
    text-decoration: none;
}

.nav {
    margin-right: 20px; /* Отступ между навигацией и логотипом */
}

.nav-link {
    margin-right: 15px; /* Отступ между ссылками */
    text-decoration: none;
    color: #a1aaaa;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
    color: #333;
}

/* Для ссылок на страницы сайта */
.nav-links {
  margin-right: 15px; /* Отступ между ссылками */
  text-decoration: none;
  color: #e4e7e7;
}

.nav-links:hover{
  color: rgb(235, 118, 118);
}

.feedback-mes{
    background-color: #e4e7e7;
    color: #000000;
    padding: 5px;
    width: 100%;
    border: 0;
    text-align: left;
    position: static;
}

  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border-style: 1px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-25%);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #c77777;
    color: #f1f1f1;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  .submit-btn button {
    background-color: #a1aaaa; /* Цвет кнопки */
    color: white; /* Цвет текста */
    width: 100%;
    padding: 15px 20px; /* Отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
}

.Links{
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: rgb(235, 118, 118);
}

.Links label{
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: rgb(235, 118, 118);
}